{
  "openapi": "3.1.0",
  "info": {
    "title": "Convert news to image API",
    "description": "API for creating an image with news title and content.",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://www.infinitydecimal.com"
    }
  ],
  "paths": {
    "/api/business/v1/open/chat/svgmaker": {
      "post": {
        "description": "Create an image with news title and content.",
        "operationId": "MakeNewsImage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  },
                  "size": {
                    "type": "string",
                    "enum": ["small", "medium", "large"]
                  }
                },
                "required": ["title", "content"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful create image",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success"],
                  "properties": {
                    "data": {
                      "type": "string",
                      "description": "The image url"
                    },
                    "code": {
                      "type": "string",
                    },
                    "success": {
                      "type": "boolean",
                    },
                    "message": {
                      "type": "string",
                    },
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}
